* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* cursor: none; */
}

*,
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */
}

body {
    overflow: hidden;
    background-color: #121212;
    width: 100%;
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    background-image: url("/images/noise.svg");
    background-repeat: repeat;
    background-blend-mode: overlay;
}


:root {
    --bg: #63c13d;
    /* warm background */
    --ink: #63c13d;
    /* headline color */
    --pill: #9b3dc1;
    /* pill fill */
    --pill-text: #121212;
    /* pill text */
    --pill-edge: #9b3dc1;
    /* pill border & shadow */
}

.hero {
    padding: clamp(24px, 6vw, 80px);
    /* background: var(--bg); */
    overflow: hidden;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;

}

.tag {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: absolute;
    inset: 0%;
}

.title {
    position: relative;
    margin: 0;
    color: var(--ink);
    font: 900 clamp(2.5rem, 12vw, 10rem)/0.88 "Space Grotesk", sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
}

.sticker {
    position: absolute;
    left: var(--x, 0);
    top: var(--y, 0);
    display: inline-block;
    padding: .35em .85em;
    border-radius: 9999px;
    background: var(--pill);
    color: var(--pill-text);
    border: .2rem solid var(--bg);
    font: 800 clamp(.55rem, 1.6vw, .9rem)/1 "Space Grotesk", sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    transition: transform 0.1s linear;
}

.sticker:nth-of-type(1) {
    top: 25%;
    left: 16%;
}

.sticker:nth-of-type(2) {
    top: 35%;
    left: 65%;
}

.sticker:nth-of-type(3) {
    top: 55%;
    left: 40%;
}


/* General Body & Layout Styles */
.cursor-letter {
    position: fixed;
    text-align: center;
    opacity: 0.8;
    top: 0;
    left: 0;
    color: rgba(99, 193, 61, 0.6);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 100;
    font-size: 10px;
    pointer-events: none;
    z-index: 5;
    will-change: transform;
    transform-origin: center center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 82%;
    margin: 0 auto;
    padding: 0 2rem 0 2rem;
    position: relative;
    box-sizing: border-box;
}

.section-container {
    padding: 5rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 99%;
    box-sizing: border-box;
}

/* Logo */
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2rem;
    height: 100vh;
    padding: 6.5rem 0;
}

.phrase {
    position: relative;
}

.phrase h6 {
    color: #cacaca;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.phrase div {
    position: relative;
    overflow: hidden;
    height: 1.2em;
}

.phrase span {
    display: block;
    transform: translateY(0);
    transition: transform 1s cubic-bezier(.19, 1, .22, 1);
}

.phrase div::after {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    color: #cacaca;
    transition: transform 1s cubic-bezier(.19, 1, .22, 1);
}

.phrase div:hover span {
    transform: translateY(-100%);
}

.phrase div:hover::after {
    transform: translateY(-100%);
}

.logo {
    position: relative;
}

.logo img {
    width: 3rem;
    height: 3rem;
    display: block;
    transition: filter 0.3s ease-in-out;
}

.logo img:hover {
    filter: grayscale(1);
}

/* Main Vertical Title */
.main-content {
    position: absolute;
    top: 45%;
    right: 2rem;
    transform: translateY(-50%);
}

.main-content h1 {
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    color: #cacaca;
    text-align: right;
    font-size: 15rem;
    letter-spacing: -21px;
    line-height: 0.8;
}

.abstract {
    width: 100%;
    position: absolute;
    top: 5%;
    right: 6em;
    bottom: 0%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    mix-blend-mode: multiply;
    transform: scale(0.9);
    transition: transform 1s ease-in-out;
    will-change: transform;
}

.abstract:hover {
    transform: scale(1.1);
}

.main-content h1::after {
    margin: 0;
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 4;
    -webkit-text-stroke: 1px #ccc;
    color: transparent;
    pointer-events: none;
    transition: filter 1s ease-in-out, opacity 1s ease-in-out;
}


.main-content h1:hover::after {
    filter: blur(20px);
    opacity: 0.1;
}

.main-content h1 .word {
    display: block;
    transition: filter 1s ease-in-out, opacity 1s ease-in-out;
}

.main-content h1 .word:hover {
    filter: blur(20px);
    opacity: 0.1;
}

#art h1 {
    font-size: 90px;
}

.changing {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    color: #cacaca;
    text-align: left;
    font-size: 90px;
    padding-left: 2rem;
    text-transform: uppercase;
    position: relative;
    line-height: 1.1;
    transition: 0.2s ease;
}

.changing::before {
    content: attr(data-text);
    /* font-family: "Life Savers", serif; */
    font-family: "Jacquard 24", system-ui;
    font-weight: 800;
    font-size: 90px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(2rem) translateY(0px);
    text-align: left;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
    line-height: 1.1;
    color: #cacaca;
}

.changing:hover {
    color: transparent;
}

.changing:hover::before {
    opacity: 1;
}

#art p {
    font-family: "Space Grotesk", sans-serif;
    color: #cacaca;
    font-size: 16px;
    padding-left: 2rem;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 20px 0;

}






/* ----------------------------------------------- */
@media (max-width: 992px),
(max-width: 768px) {
    .container {
        width: 98%;
        pointer-events: none;
    }

    .cursor-letter,
    .main-content h1::after,
    .main-content h1:hover::after,
    .abstract:hover {
        display: none;
        user-select: none;
    }

    .left {
        /* Change from a side column to a top bar */
        flex-direction: row;
        align-items: center;
        top: 5%;
        left: 0;
        right: 0;
        bottom: auto;
        width: 100%;
        height: auto;
        padding: 1.5rem 2rem;
    }

    .main-content h1 {
        text-align: right;
        font-size: 25cqw;
        /* 25% of container width */
        letter-spacing: -2cqw;
        line-height: 0.77;
    }
}

/* ------------------------------------------------------ */
/* Medium devices (large phones, small tablets) */
@media (max-width: 600px) {
    .container {
        width: 98%;
        pointer-events: none;
    }

    .cursor-letter,
    .main-content h1::after,
    .main-content h1:hover::after,
    .abstract:hover {
        display: none;
        user-select: none;
    }

    .left {
        /* Change from a side column to a top bar */
        flex-direction: row;
        align-items: center;
        top: 5%;
        left: 0;
        right: 0;
        bottom: auto;
        width: 100%;
        height: auto;
        padding: 1.5rem 2rem;
    }

    /* Remove absolute positioning on children */
    .phrase,
    .logo {
        position: static;
    }

    .phrase h6 {
        font-size: 0.7rem;
    }

    .logo img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .main-content {
        width: 100%;
        left: 40%;
        right: 2rem;
        transform: translate(-50%, -50%);
    }

    .main-content h1 {
        text-align: right;
        font-size: 35cqw;
        /* 25% of container width */
        letter-spacing: -3.5cqw;
        line-height: 0.77;
    }

    .abstract {
        width: 80%;
        height: 80%;
        left: 12%;
        top: 20%;
        transform: translate(-50%, -50%);
        mix-blend-mode: multiply;
        transform: scale(1);
    }
}

/* ------------------------------------------------------------------- */
/* Bottom Navigation  */


.site-nav {
    position: fixed;
    background-color: #121212;
    border-top: 1px solid #cacaca22;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1rem 0 1.6rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.1em;
    z-index: 99;
    background-image: url("/images/noise.svg");
    background-repeat: repeat;
    background-blend-mode: overlay;
}

.site-nav a {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: #cacaca;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 1em;

}

.site-nav a span {
    display: block;
    transform: translateY(0);
    transition: transform 1s cubic-bezier(.19, 1, .22, 1);

}

.site-nav a::after {
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    color: #cacaca;
    transition: transform 1s cubic-bezier(.19, 1, .22, 1);
}

.site-nav a:hover span {
    transform: translateY(-100%);
}

.site-nav a:hover::after {
    transform: translateY(-100%);
}

/*# sourceMappingURL=style.css.map */